{% load ci_filters %}

{% for project in projects %}
  {% with project.get_latest_finished_commit as latest_commit %}
    {% if latest_commit %}
      <div class="project {{ latest_commit.was_successful|yesno:"successful,failed" }}">
        <a href="{{ project.get_absolute_url }}" class=name>{{ project.name }}</a>
        <span class=build-info>
          Latest build: {{ latest_commit.was_successful|yesno:"successful,failed" }}
          ({{ latest_commit.vcs_id|shorten_commit_id }},
           {{ latest_commit.finished|timesince }})
        </span>
      </div>
    {% else %}
      <div class="project unknown">
        <a href="{{ project.get_absolute_url }}" class=name>{{ project.name }}</a>
        <span class=build-info>No builds</span>
      </div>
    {% endif %}
  {% endwith %}
{% endfor %}
