{% for project, finished_count, failed_count, building_count, pending_count in projects %}
  {% if failed_count %}
    <div class="project failed">
      <a href="{{ project.get_absolute_url }}" class=name>{{ project.name }}</a>
      <span class=build-info>
        State: {{ failed_count }}/{{ finished_count }} build(s) failed
      </span>
  {% else %}
    {% if finished_count %}
      <div class="project successful">
        <a href="{{ project.get_absolute_url }}" class=name>{{ project.name }}</a>
        <span class=build-info>State: all builds successful</span>
    {% else %}
      <div class="project unknown">
        <a href="{{ project.get_absolute_url }}" class=name>{{ project.name }}</a>
        <span class=build-info>No builds</span>
    {% endif %}
  {% endif %}

  {% if building_count %}
    <span class=build-info>
      Currently executing {{ building_count }} build(s)
      {% if pending_count %}
        (plus {{ pending_count }} more build(s) pending)
      {% endif %}
    </span>
  {% else %}
    {% if pending_count %}
      <span class=build-info>
        {{ pending_count }} pending build(s)
      </span>
    {% endif %}
  {% endif %}

  </div>
{% endfor %}
