{% extends 'ci/base.html' %}
{% load ci %}

{% block breadcrumbs %}
{{ block.super }}
{% include 'ci/breadcrumb.inc.html' with text=project.name href=project %}
{% endblock %}

{% block h1 %}{{ project.name }}{% endblock %}

{% block content %}
<ul class=branchlist>
{% for commit, builds, active_builds, pending_builds, last_stable_commit in commits %}
  <li>
    <div class=latest>
      <div class=branch-info>
        {% commit_link commit %}
        <span class=build-info>{{ commit.created }}</span>
        {% include 'ci/unfinished_builds.inc.html' %}
      </div>
      <ul>
      {% for build in builds %}
        <li>
          <span class="build {{ build.was_successful|yesno:"successful,failed" }}">
            {{ build.configuration.name }}
          </span>
        </li>
      {% endfor %}
      </ul>
    </div>
    {% if last_stable_commit and last_stable_commit != commit %}
      <div class=stable>
        Last successful build: {% commit_link last_stable_commit %}
        ({{ last_stable_commit.created }})
      </div>
    {% endif %}
  </li>
{% endfor %}
</ul>
{% endblock %}
