{% extends 'ci/base.html' %}
{% load ci %}

{% block breadcrumbs %}
{{ block.super }}
{% include 'ci/breadcrumb.inc.html' with text=project.name href=project %}
{% endblock %}

{% block h1 %}{{ project.name }}{% endblock %}

{% block content %}
<ul class=branchlist>
{% for latest, stable, active in commits %}
  <li>
    <div class=latest>
      <div class=branch-info>
        {% commit_link latest %}
        <span class=build-info>{{ latest.created }}</span>
        {% include 'ci/unfinished_builds.inc.html' %}
      </div>
      {% include 'ci/commit_builds.inc.html' with commit=latest %}
    </div>

    {% if stable and stable != latest %}
      <div class=stable>
        Last successful build: {% commit_link stable %}
        ({{ stable.created }})
      </div>
    {% endif %}

    {% if active %}
      <ul class=active>
      {% for commit in active %}
        <li>
          <a class=commit href="{{ commit.get_absolute_url }}">{{ commit.short_vcs_id }}</a>
          <span class=build-info>{{ commit.created }}</span>
          {% include 'ci/commit-builds.inc.html' %}
        </li>
      {% endfor %}
      </ul>
    {% endif %}
  </li>
{% endfor %}
</ul>
{% endblock %}
