{% extends 'ci/base.html' %}

{% block content %}
<div id=project-list>
{% for project, state, finished_count, failed_count in projects %}
  <a class="project {{ state }}" href="{{ project.get_absolute_url }}">
    <span class=name>{{ project.name }}</span>
    {% if failed_count %}
      <span class=build-info>
        failures: {{ failed_count }}/{{ finished_count }}
      </span>
    {% else %}
      {% if finished_count %}
        <span class=build-info>all builds successful</span>
      {% else %}
        <span class=build-info>no builds</span>
      {% endif %}
    {% endif %}
    {% include 'ci/unfinished_builds.inc.html' %}
  </a>
{% endfor %}
</div>
{% endblock %}
