{% extends 'ci/base.html' %}
{% load ci %}

{% block breadcrumbs %}
{{ block.super }}
{% include 'ci/breadcrumb.inc.html' with text=project.name href=project %}
{% endblock %}

{% block h1 %}{{ project.name }}{% endblock %}

{% block content %}
<ul class=branchlist>
{% for commit, builds, active_builds, pending_builds in commits %}
  <li>
    <div class=branch-info>
      {% commit_link commit %}
      {% include 'ci/unfinished_builds.inc.html' %}
    </div>
    <ul>
    {% for build in builds %}
      <li>
        <span class="build {{ build.was_successful|yesno:"successful,failed" }}">
          {{ build.configuration.name }}
        </span>
      </li>
    {% endfor %}
    </ul>
  </li>
{% endfor %}
</ul>
{% endblock %}
